# SPDX-License-Identifier: MIT
# Normalize text in the repository, and keep shell scripts LF so they run under
# WSL, Git Bash, and CI even when checked out on Windows.

* text=auto

*.sh text eol=lf
*.tf text eol=lf
*.hcl text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.pdf binary
